<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-10 column">
            <div class="row clearfix">
                <div class="col-md-12 column">

                    <div class="page-header " style="color: #00bbee">
                        <h3>个人中心</h3>

                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-success" role="progressbar"
                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 66%;">
                                <span id="spanJDT" > 信息完善度：66% </span>
                            </div>
                        </div>
                        <!--<span class="sr-only" text="40% 完成">40% 完成</span>-->
                    </div>

                </div>

                <div style="height: 366px">

                    <div class="col-md-12 column" style="color: #00bbee">
                        <h4>等级积分</h4>
                    </div>
                    <div class="col-md-12 column">
                        我的积分：
<!--                        <span th:text="${u.integral}"></span>-->
                    </div>

                    <div class="col-md-12 column" style="margin-top: 10px">
                        <!--进度条-->
                        <div class="col-sm-1">Lv3</div>
                        <div class="col-sm-2">
                        <div class="progress " style="width: 100px">
                            <div class="progress-bar progress-bar-info" role="progressbar"
                                 style="width: 90%;">
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-9 ">Lv4</div>
                    </div>

                    <div class="col-md-12 column">
                        您当前排名大于100万加油啦！
                    </div>
                </div>
                <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->





                <form class="form-horizontal" role="form">

                    <div class="col-md-12 column" style="color: #00bbee">
                        <h4>账号信息</h4>
                    </div>

                    <div style="margin-left: 21px">

                        <div class="form-group">
                            <label class="col-md-3">登 录 名：</label>
                            <div class="col-md-9">
                               <!-- <button type="button" class="btn btn-primary" onclick="addemail()">修改密码</button>-->
                            </div>
                            <div class="col-md-12">
<!--                               <span th:text="${u.userName}"></span>-->
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3">登录手机：</label>
                            <div class="col-md-9">
                               <!-- <button type="button" class="btn btn-primary" onclick="addemail()">更改手机</button>-->
                            </div>
                            <div class="col-md-12">
<!--                                <span th:text="${u.phoneNumber}"></span>-->
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-12">密保邮箱：</label>
<!--                            <div class="col-md-9">-->

                               <!-- <button type="button" class="btn btn-primary" >设置邮箱</button>-->

<!--                            </div>-->
                            <div class="col-md-2">
<!--                                <span th:text="${u.email}"></span>-->
                            </div>
                            <div class="col-md-10">
<!--                                <span th:text="${u.emailstatus}"></span>-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2">累计在线：</label>
                            <div class="col-md-10">

                            </div>
                            <div class="col-md-12">
                                2 天 12 小时 10 分
                            </div>
                        </div>
                    </div>
                </form>


            </div>




        </div>

        <div class="col-md-2 column">
            <!--侧边距-->
        </div>
    </div>
</div>



<div class="col-md-12 column"></div>
<!--test-->

</body>
</html>