<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column" style="margin-right: 10%">
            <div class="row clearfix">
                <div class="col-md-12 column">

                    <div class="page-header " style="color: #00bbee">
                        <h3>消息通知</h3>

                        <div class="row">

                            <div class="col-md-5 text-center" style="color: darkolivegreen">

                                <!--标题栏-->
                                <ul class="list-group" >
                                    <li class="list-group-item" style="background-color: lightgoldenrodyellow">
                                        <span class="badge">1</span>
                                        <h4>赞</h4>
                                    </li>
                                </ul>
                                <!--标题栏结束-->
                            </div>

                            <div class="col-md-5 text-center" style="color: darkolivegreen">

                                <!--标题栏-->
                                <ul class="list-group" >
                                    <li class="list-group-item" style="background-color: lightgoldenrodyellow">
                                        <span class="badge">20</span>
                                        <h4>评论</h4>
                                    </li>
                                </ul>
                                <!--标题栏结束-->
                            </div>
                        </div>
                    </div>


                    <!--内容部分-->
                    <div class="row">

                        <div class="col-md-5 text-center" >

                        </div>

                        <div class="col-md-5 text-center" >

                            111111111111111111111111111111111
                            111111111111111111111111111111111
                            111111111111111111111111111111111
                            111111111111111111111111111111111
                            111111111111111111111111111111111
                        </div>

                    </div>
                    <!--内容部分结束-->
                   <!-- <div class="text-center" >
                    </div>
-->
                </div>
            </div>






        </div>
    </div>
</div>
</body>
</html>